
*{
    margin: 0 auto;
    padding: 0;
    background-image: url("../fotografije/pozadina1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}


h1{
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:100px;
    text-align: center;
}
.menu {
    background-color: #333;
    overflow: hidden;
}
.menu a:hover {
    background-color: #ddd;
    color: white;
}
.menu a {
    float: right;
    color: black;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 15px;
    border-style: solid;
    border-radius: 10rem;
    border-width: 2px;
    width: 7%;
}
.navbar {
    overflow: hidden;
    align-self: center;
    justify-content: center;
    display: flex;
    background-color: white;

}
#a{
    flex: 1;
}
#b{
    flex: 1;
}
#c{
    flex: 1;
}
.navbar a{
    
    float: right;
    color: black;
    text-align: center;
    text-decoration: none;
    
    padding: 5px;
    font-size: 20px;
    border-style: solid;
    border-width: 2px;
    border-radius: 10rem;
    width: 50%;
    
}
  
.navbar a:hover {
    background-color:black;
    color: white;
}


 
  
 
  

