#wrap{
    margin: 0 auto;
    width: 70%;
}
*{
    margin: 0 auto;
    padding: 0;
    background-image: url("../fotografije/news.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-size: 100% 100%;
}
h1{
    text-align: center;
    color:black;
}
* {box-sizing:border-box}
.slideshow {
    max-width: 600px;
    position: relative;
    margin: auto;
    float: left;
    
}
.slide {
    display: none;
}
p{
    font-size: 17px;
    color: black;
    font-style: bold;
    
}